<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969999092962-qg9aomjpo9dmeph7fj1nm5dl78tep3ee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969999092962-qg9aomjpo9dmeph7fj1nm5dl78tep3ee</string>
	<key>API_KEY</key>
	<string>AIzaSyB-V8mrHyzO66sNj4A-7cwMs-b5N95iYtE</string>
	<key>GCM_SENDER_ID</key>
	<string>969999092962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>mckelvey-whatsapp-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>mckelvey-whatsapp-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969999092962:ios:d8383fcedbf74d36f2a2bb</string>
</dict>
</plist>